$blue: #3273eb;

@import "UI/Chat.scss";

@keyframes pulse {
    0% {
        transform: scale( 0.95 );
        color: rgb(255, 112, 112);
    }

    100% {
        color: white;
        transform: scale( 1 );
    }
}

.text {
    &.low {
        animation-name: pulse;
        animation-duration: 0.3s;
        animation-timing-function: ease;
        animation-direction: alternate;
    }
}