$blue: #3273eb;
$rounding: 4px;

@import "_chat.scss";
@import "_info.scss";
@import "_players.scss";

.with-flex
{
    &.column
    {
        flex-direction: column;
    }

    &.column-reverse, .column-reversed
    {
        flex-direction: column-reverse;
    }

    &.row
    {
        flex-direction: row;
    }

    &.wrap
    {
        flex-wrap: wrap;
    }

    &.row-reverse, row-reversed
    {
        flex-direction: row-reverse;
    }

    cell
    {
        border-radius: $rounding;
        background-color: rgba( black, 0.7 );
    }

    i
    {
        font-family: Material Icons Outlined;
    }
}

.with-justify-end 
{
    justify-content: flex-end;
}

.with-header
{
    font-size: 24px;
    color: white;
    font-weight: 600;
}

.with-subheader
{
    font-size: 18px;
    color: lightgrey;
    font-weight: 500;
}

.with-text
{
    font-size: 16px;
    color: white;
    font-weight: 400;
}

.with-description
{
    font-size: 13px;
    color: white;
    font-weight: 400;
}

.with-shadow
{
    text-shadow: 0px 0px 2px rgba( black, 0.3 );
}

.with-icon
{
    justify-content: center;
    align-items: center;
    align-content: center;
}

.with-avatar
{
    margin-left: 2px;
    border-radius: 100px;
    width: 32px;
    height: 32px;
}

.with-gap
{
    gap: 8px;
}

.with-gap-small
{
    gap: 4px;
}

.with-padding
{
    padding: 4px;
}

.with-padding-large
{
    padding: 8px;
}

.with-center
{
    align-items: center;
    justify-content: center;
}