Players
{
    position: absolute;
    left: 32px;
    top: 32px;

    transition: all 0.2s ease;
    transform: scale( 0.95 );
    transform-origin: top left;
    
    opacity: 0;

    &.open
    {
        transform: scale( 1 );
        opacity: 1;
    }
}
